# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA project files
.idea/

# Compiled output
out/
target/

# IntelliJ IDEA workspace files
*.iml
*.iws
*.ipr
*.iws
*.log
*.DS_Store